.shake{
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0%{
        transform:rotate(8deg);
    }
    50% {
        transform:rotate(-8deg);
    }
    100%{
        transform:rotate(8deg);
    }
}